<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>label</key>
		<string>Apache</string>
		<key>job</key>
		<string>org.apache.httpd</string>
		<key>path</key>
		<string>/System/Library/LaunchDaemons</string>
	</dict>
	<dict>
		<key>label</key>
		<string>MySQL</string>
		<key>job</key>
		<string>com.mysql.launchd.mysqld</string>
		<key>path</key>
		<string>/Library/LaunchDaemons</string>
		<key>diskimage</key>
		<dict>
			<key>path</key>
			<string>/Users/micha/Library/Application Support/MySQL/EncDataImage.sparsebundle</string>
			<key>options</key>
			<array>
				<string>-encryption</string>
				<string>AES-128</string>
				<string>-owners</string>
				<string>on</string>
				<string>-stdinpass</string>
			</array>
		</dict>
	</dict>
	<dict>
		<key>label</key>
		<string>PostgreSQL</string>
		<key>job</key>
		<string>com.edb.launchd.postgresql-9.2</string>
		<key>path</key>
		<string>/Library/LaunchDaemons</string>
	</dict>
</array>
</plist>
