<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>label</key>
	<string>Apache</string>
	<key>job</key>
	<string>org.apache.httpd</string>
	<key>path</key>
	<string>/System/Library/LaunchDaemons</string>
</dict>
</plist>
